# ucsf ignore files

# ignore training image files
early_development/data/
early_development/img/
early_development/ing_boxes/
ref/
.DS_Store
data_science/
.ipynb_checkpoints/

troy_tutorial/.ipynb_checkpoints/

# ignore in the ucsf development folder
ucsf_development/img/
ucsf_development/img_boxes
ucsf_development/.DS_Store
ucsf_development/.ipynb_checkpoints
ucsf_development/data
ucsf_development/src/__pycache__/img_functions.cpython-37.pyc

early_development/.ipynb_checkpoints

