# ucsf ignore files

early_development/data/
ref/
.DS_Store
data_science/

ucsf_development/img/
ucsf_development/img_boxes
ucsf_development/.DS_Store
ucsf_development/.ipynb_checkpoints
early_development/.ipynb_checkpoints

